span#calendar.event-action-icon
  i.glyphicon.glyphicon-calendar
span#add.event-action-icon
  = link_to "<i class='glyphicon glyphicon-plus'>".html_safe, event_attendees_path(event_attendee: {user_id: current_user.id, event_id: event.id}), method: :post, data: {remote: 'true'}
